<footer>
    <div class="footer-info">
        <div class="socials">
            <a href="https://www.linkedin.com/in/abdul-rehman-7068aa315/" ><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Mani-420"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div style="font-size: 1.2rem;" class="comp-name">
            &copy;
            Recipe Blog
        </div>
        <div style="font-size: 1.2rem;" class="links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>