<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Blog</title>
  <link rel="stylesheet" href="/css/new.css">

</head>
<body>
  <form method="post" action="/recipes">
    <input name="listing[title]" placeholder="enter title" type="text" />
    <br/> <br/>
    <textarea
        name="listing[description]"
        placeholder="enter description"
        rows="5" cols="20"
    ></textarea>
    <br /><br />
    <input
      name="listing[image]"
      placeholder="enter image URL/Link"
      type="text"
    />
    <br /><br />
    <textarea
      name="listing[ingredients]"
      placeholder="enter basic ingredients"
      rows="15" cols="35"
    ></textarea>
    <br /><br />
    <textarea
      name="listing[recipe]"
      placeholder="enter your recipe"
      rows="20" cols="45"
    ></textarea>
    <br /><br />
    <button>Submit</button>
  </form>
</body>
</html>