<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>All Recipes</h3>
    <div class="pages">
        <form method="GET" action="/recipes/new">
            <button class="buttons">Create New Recipe</button>
        </form>
        <form action="/home">
            <button class="buttons">Home</button>
        </form>
    </div>
    <div class="recipe-container">
        <% for(let recipe of allRecipes) { %>
            <div class="recipe-card">
                <img class="recipe" src="<%= recipe.image %>" alt="<%= recipe.title %>">
                <a class="recipe" href="/recipes/<%= recipe._id %>"> <%= recipe.title %> </a>
            </div>
        <% } %>
    </div>
</body>
</html>