<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1><u>Instagram Page</u></h1>
    <h3>This instagram page belongs to: <%= username %></h3>
    <button>Follow</button>
    <button>Message</button>
    <h4>Followers</h4>
    <ul>
        <% for(let name of followers) { %>
        <li> <%= name %> </li>
        <% } %>
    </ul>
</body>
</html>