<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write new Chat..</h3>
    <form method="post" action="/chats">
        <input placeholder="write your name", name="sentFrom"> <br>
        <textarea name="message" placeholder="write your message.."></textarea> <br> 
        <input type="text" name="sentTo" placeholder="who to sent"> <br>
        <button>Create Chat</button> <br>
    </form>
</body>
</html>